<div class="row justify-content-center">
  <div class="col-8">
    <div class="card text-white bg-dark">
      <h1 class="card-header">Name: <%= @species.name %></h1>
      <div class="card-body">
        <p class="card-text"><strong>Classification:</strong> <%= @species.classification.capitalize() %></p>
        <p class="card-text"><strong>Designation:</strong> <%= @species.designation.capitalize() %></p>
        <p class="card-text"><strong>Average Height:</strong> <%= @species.average_height %> Cm</p>
        <p class="card-text"><strong>Language:</strong> <%= @species.language.capitalize() %></p>
        <p class="card-text"><strong>Average Lifespan:</strong> <%= @species.average_lifespan %> Years</p>
        <p class="card-text"><strong>People:</strong></p>
        <ul>
        <% @people.each do |person| %>
          <li class="card-text"><%= link_to person['name'], character_url(person.id), class: "" %> </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>