<h1 class="mb-5 row mr-0 ml-0 justify-content-center">Homeworlds</h1>
<div class="row mr-0 ml-0 justify-content-center">
  <div class="col-8">
    <table id="fullTable" class="table table-striped table-dark table-hover">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Rotation Period</th>
        <th scope="col">Climate</th>
      </tr>
      <% @homeworlds.each do |world| %>
      <tr>
        <th scope="row mr-0 ml-0"><%= link_to world.id, homeworld_path(world), class: "nav-link text-white" %></th>
        <th><%= link_to world.name, homeworld_path(world), class: "nav-link text-white" %></th>
        <th><%= link_to world.rotation_period, homeworld_path(world), class: "nav-link text-white" %></th>
        <th><%= link_to world.climate.capitalize(), homeworld_path(world), class: "nav-link text-white" %></th>
      </tr>
      <% end %>
    </table>
    <div class="flickr_pagination">
      <%= will_paginate @characters, :container => false %>
    </div>
  </div>
</div>