<div class="row justify-content-center">
  <div class="col-8">
    <table id="fullTable" class="table table-striped table-dark table-hover">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Species</th>
        <th scope="col">Homeworld</th>
      </tr>
      <% @characters.each do |character| %>
      <tr>
        <th scope="row"><%= character.id %></th>
        <th><%= link_to character.name, character_path(character), class: "nav-link" %></th>
        <th><%= character.species.name %></th>
        <th><%= character.homeworld.name.capitalize() %></th>
      </tr>
      <% end %>
    </table>
    <div class="flickr_pagination">
      <%= will_paginate @characters, :container => false %>
    </div>
  </div>
</div>